@import "variables";
@import "mixins";

$header-heigth: 6rem;
$header-heigth-desktop: 7.2rem;
$menu-transition-duration: .15s;
$page-peak-width: calc(100% - 7.2rem);


.header {
  background-color: $c-magenta;
  padding: $gridline $baseline;
  min-height: $header-heigth;
  @media #{$mq-desktop} {
    min-height: $header-heigth-desktop;
  }
  &__nav {
    width: $page-peak-width;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    transform: translateX(-100%);
    @media #{$mq-desktop} {
      width: 100%;
      bottom: auto;
      transform: translateX(0);
      body.submenu-open & {
        z-index: 1;
      }
    }
  }
}
.hamburger {
  display: block;
  @include replace-text(
    "url('/images/toggle-open.svg') 50%/100% no-repeat",
    $width: 7.2rem,
    $height: $header-heigth
  );
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
  @media #{$mq-desktop} {
    display: none;
  }
}

.huge_logo {
  display: block;
  background-color: $c-magenta;
  width: 100.1%; // 1% extra to cover the seam between the logo-wrap and the header
  height: $header-heigth;
  padding: $gridline $baseline;
  &__type {
    margin: 0;
    @include replace-text(
      "url('/images/HUGE.png') 0 100%/100% no-repeat",
      $width: 5rem,
      $height: 2rem
    );
    .hide { display: none; }
  }
  &:hover {
    background-color: $c-light-gray;
    .huge_logo__type {
      background-position-y: 0;
    }
  }
  @media #{$mq-desktop} {
    width: auto;
    height: auto;
    padding: $baseline;
    padding-right: 2*$baseline;
    float: left;
    &__type {
      height: 2.4rem;
      width: 6rem;
    }
    &:hover {
      background-color: white;
    }
  }
}

.nav {
  &__list {
    height: calc(100% - #{$header-heigth});
    padding: .5*$baseline 0;
    overflow: auto;
    &, &--secondary {
      margin: 0;
      list-style: none;
    }
    &--secondary {
      max-height: 0;
      padding: 0;
      overflow: hidden;
      transition: max-height $menu-transition-duration;
    }
  }
  &__item {
    font-family: HUGEAvantGardeBold;
    font-size: 2.1rem;
    &--secondary {
      font-family: Galaxie;
      font-size: 1.6rem;
    }
    &.open {
      > .nav__list--secondary {
        max-height: 999px;
      }
      > .nav__link--parent::after {
        transform: translateY(-50%) rotate(180deg);
      }
    }
  }
  &__link {
    &, &--parent {
      text-decoration: none;
      display: block;
      padding: $baseline/2 $baseline;
      color: black;
      &:hover {
        color: $c-magenta;
        background-color: $c-light-gray;
      }
    }
    &--parent {
      position: relative;
      &::after {
        content: ' ';
        width: 2*$baseline;
        height: $gridline;
        display: block;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background: url("/images/chevron.png") 50%/auto no-repeat;
        right: 0;
        transition: transform $menu-transition-duration;
      }
    }
  }
  @media #{$mq-desktop} {
    &__list {
      height: auto;
      overflow: visible;
      padding: 0;
      white-space: nowrap;
    }
    &__item {
      // float: left;
      display: inline-block;
      width: auto;
      margin-right: -.4rem;
    }
    &__item > &__link {
      &, &--parent {
        padding: $baseline;
        color: white;
        position: relative;
        &::after { display: none; }
        &:hover {
          background-color: white;
          color: $c-magenta;
        }
      }
    }
    &__list--secondary {
      position: absolute;
      background-color: white;
    }
    &__item.open > &__link--parent {
      background-color: white;
      color: $c-magenta
    }
    &__item.open > &__list--secondary {
      padding: .5*$baseline 0;
    }
  }
}
.copyright {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.2rem;
  line-height: 1.6rem;
  padding: 1.6rem $baseline;
  background: white;
  position: fixed;
  bottom: 0;
  left: 0;
  width: $page-peak-width;
  transform: translateX(-100%);
}

.page_mask {
  position: fixed;
  top: $header-heigth;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: $c-translucent-black;
  opacity: 0;
  pointer-events: none;
  transition-property: opacity, transform;
  transition-duration: $menu-transition-duration;
  @media #{$mq-desktop} {
    top: $header-heigth-desktop;
    body.submenu-open & {
      opacity: 1;
      pointer-events: all;
      z-index: 1;
    }
  }
}
.header, .main, .copyright, .header__nav {
  transition: transform $menu-transition-duration;
}

// the off canvas menu transition
@media #{$mq-less-then-desktop} {
  body.menu_open {
    overflow: hidden;
    .header, .main, .page_mask {
      transform: translateX($page-peak-width);
    }
    .hamburger {
      background-image: url("/images/toggle-close.svg")
    }
    .page_mask {
      opacity: 1;
      pointer-events: all;
      z-index: 1;
    }
    .header__nav,
    .copyright {
      transform: translateX(0);
    }
  }
}
