@import "variables";
@import "mixins";

$header-heigth: 6rem;
$menu-transition-duration: .15s;
$page-peak-width: calc(100% - 7.2rem);


.header {
  background-color: $c-magenta;
  padding: $gridline $baseline;
  min-height: $header-heigth;
  &__nav {
    width: $page-peak-width;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    transform: translateX(-100%);
  }
}
.hamburger {
  display: block;
  @include replace-text(
    "url('/images/toggle-open.svg') 50%/100% no-repeat",
    $width: 7.2rem,
    $height: $header-heigth
  );
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
}

.huge_logo {
  margin: 0;
  @include replace-text(
    "url('/images/HUGE-white.png') 0/100% no-repeat",
    $width: 5rem,
    $height: 2rem
  );
  .hide { display: none; }
  &__wrap {
    background-color: $c-magenta;
    width: 101%; // 1% extra to cover the seam between the logo-wrap and the header
    height: $header-heigth;
    padding: $gridline $baseline;
  }
}

.nav {
  &__list {
    height: calc(100% - #{$header-heigth});
    overflow: auto;
    &, &--secondary {
      margin: 0;
      padding: 0;
      list-style: none;
    }
    &--secondary {
      max-height: 0;
      overflow: hidden;
      transition: max-height $menu-transition-duration;
    }
  }
  &__item {
    font-family: HUGEAvantGardeBold;
    font-size: 2.1rem;
    &--secondary {
      font-family: Galaxie;
      font-size: 1.6rem;
    }
    &.open {
      > .nav__list--secondary {
        max-height: 999px;
      }
      > .nav__link--parent::after {
        transform: translateY(-50%) rotate(180deg);
      }
    }
  }
  &__link {
    &, &--parent {
      text-decoration: none;
      display: block;
      padding: $baseline/2 $baseline;
      color: black;
      &:hover {
        color: $c-magenta;
        background-color: $c-light-gray;
      }
    }
    &--parent {
      position: relative;
      &::after {
        content: ' ';
        width: 2*$baseline;
        height: $gridline;
        display: block;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background: url("/images/chevron.png") 50%/auto no-repeat;
        right: 0;
        transition: transform $menu-transition-duration;
      }
    }
  }
}
.copyright {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.2rem;
  line-height: 1.6rem;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: $page-peak-width;
  transform: translateX(-100%);
}

.page_mask {
  position: fixed;
  top: $header-heigth;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: $c-translucent-black;
  opacity: 0;
  pointer-events: none;
  transition-property: opacity, transform;
  transition-duration: $menu-transition-duration;
}
.header, .main, .copyright, .header__nav {
  transition: transform $menu-transition-duration;
}

// the off canvas menu transition
body.menu_open {
  overflow: hidden;
  .header, .main, .page_mask {
    transform: translateX($page-peak-width);
  }
  .hamburger {
    background-image: url("/images/toggle-close.svg")
  }
  .page_mask {
    opacity: 1;
    pointer-events: all;
    z-index: 1;
  }
  .header__nav,
  .copyright {
    transform: translateX(0);
  }
}
