@import "variables";
@import "mixins";
$header-heigth: 6rem;

.header {
  background-color: $c-magenta;
  padding: $gridline $baseline;
  min-height: $header-heigth;
  &__nav {
    background-color: green;
    width: 80%;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-100%);
  }
}
.hamburger {
  display: block;
  @include replace-text(
    "url('/images/toggle-open.svg') 50%/100% no-repeat",
    $width: 7.2rem,
    $height: $header-heigth
  );
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
}
.huge_logo {
  margin: 0;
  @include replace-text(
    "url('/images/HUGE-white.png') 0/100% no-repeat",
    $width: 5rem,
    $height: 2rem
  );
  .hide { display: none; }
}

.nav {
  &__list {
    margin: 0;
  }
}
