@import "variables";
@import "mixins";

// h1 {
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   -webkit-transform: translate(-50%, -50%);
//   transform: translate(-50%, -50%);
//   margin: 0;
//   font: 20vmin/1 HUGEAvantGardeBold;
//   letter-spacing: -0.06em;
//   text-align: center;
// }

.hero {
  height: 24rem;
  margin: 0;
  background: black url("/images/background-image.jpg") 50%/cover no-repeat;
  background-size: cover;
  img { display: none; }
}

.content {
  padding: 5rem 2.4rem;
  :first-child { margin-top: 0; }
  &__h1 {
    font: 4.4rem/1.090909091 HUGEAvantGardeBold;
    margin-bottom: 5rem;
  }
}
