$c-magenta: #ec008c;
$c-light-gray: #eee;
$c-translucent-black: rgba(0, 0, 0, 0.5);

$baseline: 2.4rem; // vertical rhythm
$gridline: 2rem;   // horizontal rhythm

$max-width: 96.8rem;

$bp-desktop: 600px; //768px;
$mq-desktop: "screen and (min-width: #{$bp-desktop})";
$mq-less-then-desktop: "screen and (max-width: #{$bp-desktop})";
